/* modal */

.header-top-modal::before {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  position: absolute;
  top: -14px;
}
.header-top-modal .box-triangle {
  position: absolute;
  bottom: calc(100% + 25px);
  margin: 0 auto;
  width: 30px;
  height: 25px;
  right: 15px;
}
.header-top-modal .box-triangle svg {
  filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
}
/* modal */

/* ẩn hiển modal */
.header-top-action-item .header-top-modal-show {
  display: block;
}

.item-icon-cart .box-heading {
  position: sticky;
  line-height: initial;
  width: 90%;
  height: 40px;
  background-color: #f3f5f6;
  border: 1px solid #e7ebec;
  border-radius: 4px;
  margin: 20px auto;
  font-size: 1.6rem;
  color: #050505;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.item-icon-cart .header-top-cart-box {
  width: 550px;
}
.box-cart-empty {
  padding: 20px 30px;
  line-height: initial;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-cart-empty svg {
  width: 50px;
  height: 50px;
  margin: auto;
}
.box-cart-empty > div {
  text-align: center;
  font-size: 1.3rem;
}
.box-item-cart {
  line-height: initial;
  width: 100%;
  height: 340px;
  margin: 0 auto;
  font-size: 4.2rem;
  overflow-y: scroll;
  padding: 5px 0;
}

.item-cart-product {
  line-height: initial;
  width: 90%;
  height: 100px;
  border-bottom: 1px dotted #a8aeb3;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-cart-product:last-child {
  border-bottom: none;
}
.item-cart-product-img {
  width: 70px;
  height: 70px;
  border: 1px solid #ededed;
}
.item-cart-info {
  line-height: initial;
  width: calc(100% - 65px - 10px);
  height: 90px;
}

.box-item-cart::-webkit-scrollbar {
  width: 3px;
}

.box-item-cart::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #a8aeb3;
  background-color: #a8aeb3;
}

.box-item-cart::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 177, 177);
}

.item-cart-info {
  padding: 0 20px;
}
.item-cart-info div:last-child {
  margin-top: 5px;
}
.cart-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-item-title,
.info-item-pice {
  font-size: 1.3rem;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: var(--text-color);
  font-weight: bolder;
  text-transform: uppercase;
}
.info-item-delete,
.info-item-amount {
  font-size: 12px;
  width: 20px;
  height: 20px;
  background-color: #e7ebec;
  color: #677279;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.cart-info-size {
  line-height: initial;
  height: 20px;
  color: #677279;
  font-size: 12px;
}

.box-payment {
  width: 90%;
  height: 140px;
  position: sticky;
  border-top: 1px solid #e1e3e4;
  margin: 0 auto;
  padding: 10px 0;
}

.box-payment-item {
  line-height: initial;
  display: flex;
  justify-content: space-between;
}
.payment-item-top {
  height: 42px;
  line-height: 42px;
  width: 50%;
  text-transform: uppercase;
  color: #677279;
  font-size: 1.5rem;
  font-weight: 500;
}

.payment-total {
  text-align: right;
  color: #ff0000;
  font-weight: bolder;
  font-size: 2rem;
}
.box-payment-button {
  width: 48%;
  height: 45px;
  cursor: pointer;
  background-color: #fc700b;
  text-align: center;
  border: 1px solid #fc700b;
  border-radius: 2px;
  color: #fff;
  font-size: 1.3rem;
  font-family: Quicksand;
  text-transform: uppercase;
  display: block;
}

.box-heading {
  position: sticky;
  line-height: initial;
  width: 90%;
  height: 40px;
  background-color: #f3f5f6;
  border: 1px solid #e7ebec;
  border-radius: 4px;
  margin: 20px auto;
  font-size: 1.6rem;
  color: #050505;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.test {
  width: 500px;
}
